<ul class="product-list">
  <li *ngFor="let product of allProducts; let i = index">
    <div (click)="newMessage(product);scrollToProductDetails()" class="product-wrap" [hidden]="!product.price > 0">
      <div class="thumbnail"><img src="{{product.thumbnailUrl}}" alt=""></div>
      <div class="product-details">
        <div class="product-name">{{product.name}}</div>
        <p>{{product.description}}</p>
      </div>
      <div class="btn-wrap">
        <button class="btn delete-btn" (click)="remove(product.id)">Delete</button>
      </div>
    </div>
  </li>
</ul>
<h3>{{errorMsg }}</h3>
